<ngb-carousel *ngIf="trendingProducts">
	<ng-template *ngFor="let item of trendingProducts" ngbSlide>
		<div class="picsum-img-wrapper">
			<img class="trending-image" [src]="item.image" alt="Missing Image" />
		</div>
		<div class="carousel-caption" style="color: purple; background-color: azure;">
			<h3>{{item.description}}</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
	</ng-template>
</ngb-carousel>

<div class="product-list-wrapper">
	<h1>Trendy Products</h1>
	<div class="row">
		<div class="col-sm-3">
			<div class="product-item">
				<img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSOO1JDPUNwcPiqzHYhaL_zpJA0Ymlr6mD9sSgTPad_JYdrk-o"
					alt="No image">
				<div class="product-details">
					<span>New Apple Mobile</span>
					<div class="product-price">
						<span>Price: 1lac</span>
					</div>
					<div class="product-color">
						<span>Color: blue</span>
					</div>
				</div>
				<div class="product-footer">
					<a href="">View Details</a>
					<a href="">Add to Cart</a>
				</div>
			</div>
		</div>
	</div>
</div>